[submodule "stoopkidOS"]
	path = stoopkidOS
	url = https://github.com/sto0pkid/stoopkidOS
[submodule "EuclideanAlgorithm"]
	path = EuclideanAlgorithm
	url = https://github.com/sto0pkid/EuclideanAlgorithm
[submodule "AutoNomic"]
	path = AutoNomic
	url = https://github.com/sto0pkid/AutoNomic
[submodule "LemonChain"]
	path = LemonChain
	url = https://github.com/sto0pkid/LemonChain
[submodule "WikiMods"]
	path = WikiMods
	url = https://github.com/sto0pkid/WikiMods
[submodule "new_shit"]
	path = new_shit
	url = https://github.com/koo5/new_shit
[submodule "univar"]
	path = univar
	url = https://github.com/koo5/univar
[submodule "hackery2"]
	path = hackery2
	url = https://github.com/koo5/hackery2
[submodule "Library"]
	path = Library
	url = https://github.com/sto0pkid/Library
	branch = master
[submodule "freeskool"]
	path = freeskool
	url = https://github.com/johm/freeskool
[submodule "CategoryTheory"]
	path = CategoryTheory
	url = https://github.com/sto0pkid/CategoryTheory
